<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(null,null)"></div>
<body>
<div class="main-content index-page clearfix">
    <div class="post-lists">
        <div class="post-lists-body">
            <div class="post-list-item" >
                <div class="post-list-item-container">
                    <a th:href="@{minwei/1}" class="item-thumb  bg-deepgrey"
                       th:style="'background-image:url(/user/img/apple-touch-icon.jpg);'">
                        <dir class="item-desc" th:text="茗薇美术"></dir>
                    </a>
<!--                    <div class="item-slant reverse-slant &lt; bg-deepgrey"></div>-->
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title" align="center"><a th:href="@{minwei/1}"
                                                   th:text="茗薇美术"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-list-item" >
                <div class="post-list-item-container">
                    <a th:href="@{firefly/1}" class="item-thumb  bg-deepgrey"
                       th:style="'background-image:url(/user/img/logo_1.png);'">
                        <dir class="item-desc" th:text="颖火虫"></dir>
                    </a>
<!--                    <div class="item-slant reverse-slant &lt; bg-deepgrey"></div>-->
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title" align="center"><a th:href="@{firefly/1}"
                                                   th:text="颖火虫"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-list-item" >
                <div class="post-list-item-container">
                    <a th:href="@{vismin/1}" class="item-thumb  bg-deepgrey"
                       th:style="'background-image:url(/user/img/vismin.png);'">
                        <dir class="item-desc" th:text="设计"></dir>
                    </a>
<!--                    <div class="item-slant reverse-slant &lt; bg-deepgrey"></div>-->
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title" align="center"><a th:href="@{vismin/1}"
                                                   th:text="设计"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="lists-navigator clearfix">
        <div th:replace="comm/macros::pageNav(${articles},'←','→','page')"></div>
    </div>-->
</div>
</body>
<div th:replace="themes/default/footer::footer"></div>
</html>
